@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Moon');

.App {
  background-color: #74C4CE;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'Roboto';
}

.App-Title {
  font-family: 'Moon';
  font-weight: bold;
  font-size: xx-large;
}

.App-Header {
  top: 0;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 2.5vh;
}

.App-Footer {
  position: sticky;
  text-align: center;
  background-color: #363537;
  padding: 6px;

  font-size: small;
  color: #FFFFFF;
  
  z-index: 2;
  bottom: 0;
  margin-top: 2.5vh;
}

.App-Body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
}

.App-TaskName {
  margin-left: 2.5vw;
  flex-grow: 1;
  padding-left: 1vw;
}

.App-AddTask {
  margin-left: 2.5vw;
  padding: 12px;

  border: none;
  border-radius: 16px;

  font-weight: bold;
  color: #FFFFFF;

  background-color: #363636;
}

.App-AddTask:hover {
  background-color: #262626;
  color: #DDDDDD;
}

.App-AddTask:active {
  background-color: #060606;
  color: #BBBBBB;
}

.App-Background {
  position: fixed;
  bottom: 5%;
  right: 0;
  opacity: 50%;
}

.No-Tasks {
  color: #444444;
  justify-content: center;
  text-align: center;
}

.ToDo-Tile {
  justify-content: space-between;
  display: flex;
  flex-direction: row;

  z-index: 1;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 6px;

  background-color: RGB(0, 0, 0, 0.1);
}

.ToDo-Details {
  padding-top: 8px;
  flex-grow: 1;
  justify-content: space-between;
}

.ToDo-Delete {
  border: #363537;
  border-radius: 18px;

  color: #FFFFFF;
  font-weight: bold;

  padding: 6px;
  height: 36px;
  width: 36px;

  background-color: #BC4858;
}

.ToDo-Delete:hover {
  background-color: #9C2838;
  color: #DDDDDD;
}

.ToDo-Delete:active {
  background-color: #7C0818;
  color: #BBBBBB;
}